body {
  font-family: sans-serif;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.progress {
  height: 20px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: azure;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.progress div {
  height: 100%;
  width: 20%;
  background-color: blue;
  border-radius: 10px;
}
